# LOCAL ONLY (NEPOSÍLAT NA GITHUB)
docs-local/
output/
tmp/

# FILE TYPES (DATA, EXPORTY)
*.pdf
*.docx
*.pptx
*.xlsx
*.xls
*.png
*.jpg
*.jpeg
*.zip
*.csv
*.tsv
*.json
*.xml
*.bin
*.txt
*.log

# CACHE / TEMP
*cache*
*tmp*